
<div class="container">
<h4>
<a routerLink='/home'>Home</a>&nbsp;&nbsp;&nbsp;
<a routerLink='/student'>Student</a>&nbsp;&nbsp;&nbsp;
<a routerLink='/staff'>Staff</a> </h4>
<br><br><br>



<h4>To DO List</h4>
<p>You can give Enter key for  submitting rather than add button</p>

<!-- used event binding , on keyup the enter function is called -->

<input  type="text"  [(ngModel)]="ip" (keyup)='enter($event)'  >  
<button  (click)='add()' class="btn btn-success">add</button>

<!-- Displaying output using string interpolation -->
{{result}}

<!-- Adding  List on every user click and displaying it -->
<ul><li *ngFor= "let i of result" >{{i}}<button (click)='remove(i)' class="btn btn-danger">X</button><br><br></li></ul> 
<br> <br> <br>

<!-- routing content visible here -->
<router-outlet></router-outlet><br><br><br>


<!-- TEMPLATE FORM -->

<!-- <form (ngSubmit)="onsubmit(f)" #f=ngForm>
    <div class="form-group" >
    <input type="text" id="username" class="form-control" ngModel name="username" required>
    </div>
    <div class="form-group" >
        <input type="email" id="email" class="form-control" ngModel name="email" required email #email=ngModel>
        <span *ngIf="!email.valid && email.touched" class="help-block" >Please enter a valid email!!</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">submit</button>
</form> -->


<!-- Reactive form -->
<h4>REACTIVE FORM VALIDATION</h4><br>
<form [formGroup]="signupForm"  (ngSubmit)="onsubmit()">
    <div class="form-group" >
       <input type="text" class="form-control"  name="username" formControlName="username" placeholder="Enter Username">
       <!-- Displaying the span if orm is not valid -->
       <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched " class="help-block" >Please enter a valid username!!</span>
    </div>
    <div class="form-group" >
        <input type="email" class="form-control"  name="email" formControlName="email" placeholder="Enter Email">
          <!-- Displaying the span if orm is not valid -->
        <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched " class="help-block" >Please enter a valid email!!</span>
    </div>
    <button type="submit">submit</button>
    
</form>

</div>


